.work-tag {
  display: inline-block;
  padding: 0.3rem 0.8rem;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  background-color: rgba(207, 207, 207, 0.219);
  color: #d4d5d3;
  border-radius: 20px;
  font-size: 0.85rem;
  font-weight: 500;
  border: 1px solid rgba(245, 245, 245, 0.848);
}
